<div class="container">
    <h2 class="display-4 d-flex justify-content-between">
        <span>{{ 'cart.title' | translate }}</span>
        <select #langSelect (change)="translate.use(langSelect.value); saveLang(langSelect.value)">
            <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
        <div></div>
    </h2>
    <div class="row">
        <h3>{{ 'cart.yourCart' | translate }}</h3>
        <table class="table table-bordered table-striped p-a-1">
            <thead>
                <tr>
                    <th>{{ 'cart.quantity' | translate }}</th>
                    <th>{{ 'cart.product' | translate }}</th>
                    <th class="text-right">{{ 'cart.price' | translate }}</th>
                    <th class="text-right">{{ 'cart.subtotal' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngIf="cart.lines.length == 0">
                    <td colspan="4" class="text-center">
                        {{ 'cart.cartIsEmpty' | translate }}
                    </td>
                </tr>
                <tr *ngFor="let line of cart.lines">
                    <td>
                        <input type="number"
                            class="form-control-sm"
                            style="width: 5em"
                            [value]="line.quantity"
                            (change)="cart.updateQuantity(line.product, $event.target.value)" />                  
                    </td>
                    <td>{{ line.product.name }}</td>
                    <td class="text-right">
                        {{ line.product.price | currency:"USD":symbol:"2.2-2" }}
                    </td>
                    <td class="text-right">
                        {{ line.lineTotal | currency:"USD":symbol:"2.2-2" }} 
                        <button class="btn btn-sm btn-danger bg-inverse" 
                            (click)="cart.removeLine(line.product.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">{{ 'cart.total' | translate }}:</td>
                    <td class="text-right">
                        {{ cart.cartPrice | currency:"USD":symbol:"2.2-2" }}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" routerLink="/store">{{ 'cart.shopping' | translate }}</button>
        <button class="btn btn-secondary" routerLink="/checkout" [disabled]="cart.lines.length == 0">{{ 'cart.checkout' | translate }}</button>
    </div>
</div>

