.container {

    h2 {
        font-size: 200%;
        margin: 25px 0px;
        font-weight: 400;

        select {
            font-size: 70%;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .row {

        > div {

            > button {
                text-transform: uppercase;
            }
        }

        .products_col {

            div {

                h5 {

                    span {
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

