@media only screen and (max-width: 480px) {

	body {
    
        app-root {
            
            > i {
                top: 40%;
                left: 45%;
            }
        }
    }
}

@media only screen and (max-width: 400px) {

	body {
    
        app-root {
            
            > i {
                top: 43%;
                left: 43%;
            }
        }
    }
}